.trigger-wrapper {
  position: relative;
  isolation: isolate;
  cursor: zoom-in;
}

button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  background-color: var(--clr-bg-muted);
  border-radius: 50%;
  padding: 0.2rem;

  font-size: 0.75rem;

  z-index: 1;
}

dialog {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    display 0.2s allow-discrete;
}

dialog[open] {
  margin: auto;
  max-width: 90dvw;
  max-height: 90dvh;

  border-radius: 5px;

  opacity: 1;
  transform: scale(1);

  /* Define the starting point for the transition when it opens */
  @starting-style {
    opacity: 0;
    transform: scale(0.9);
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}
