---
import Logo from '@/assets/logo.svg';
import Github from '@/assets/github.svg';
import LinkedIn from '@/assets/linkedin.svg';
import Submenu from './Submenu.astro';
---

<header>
  <nav>
    <a href="/" class="logo" aria-label="Go to homepage">
      <Logo />
    </a>

    <Submenu />
  </nav>
</header>

<style>
  header {
    --header-icon-size: 1.2rem;
    background-color: var(--clr-bg-secondary);
    border-bottom: 1px solid var(--clr-border);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.05),
      0 8px 16px rgba(0, 0, 0, 0.1);
  }

  nav {
    --logo-height: 1.5rem;

    max-width: var(--screen-xl);
    margin-inline: auto;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-block: 0.5rem;
  }

  .logo {
    margin-right: auto;
  }

  .logo svg {
    height: var(--logo-height);
    width: 100%;
  }

  a:not(.logo) svg,
  .icon {
    fill: currentColor;
    width: var(--header-icon-size);
    height: var(--header-icon-size);
  }
</style>
