:root {
  --clr-neutral-50: hsl(0, 0%, 98%);
  --clr-neutral-100: hsl(0, 0%, 96%);
  --clr-neutral-200: hsl(0, 0%, 91%);
  --clr-neutral-300: hsl(0, 0%, 83%);
  --clr-neutral-400: hsl(0, 0%, 70%);
  --clr-neutral-500: hsl(0, 0%, 50%);
  --clr-neutral-600: hsl(0, 0%, 40%);
  --clr-neutral-700: hsl(0, 0%, 30%);
  --clr-neutral-800: hsl(0, 0%, 20%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-50: hsl(129, 29%, 97%);
  --clr-green-100: hsl(129, 29%, 94%);
  --clr-green-200: hsl(129, 29%, 87%);
  --clr-green-300: hsl(129, 29%, 73%);
  --clr-green-400: hsl(129, 29%, 59%);
  --clr-green-500: hsl(129, 29%, 45%);
  --clr-green-600: hsl(129, 29%, 35%);
  --clr-green-700: hsl(129, 29%, 25%);
  --clr-green-800: hsl(129, 29%, 17%);
  --clr-green-900: hsl(129, 29%, 10%);

  --clr-red-50: hsl(0, 49%, 97%);
  --clr-red-100: hsl(0, 49%, 94%);
  --clr-red-200: hsl(0, 49%, 87%);
  --clr-red-300: hsl(0, 49%, 73%);
  --clr-red-400: hsl(0, 49%, 59%);
  --clr-red-500: hsl(0, 49%, 47%);
  --clr-red-600: hsl(0, 49%, 37%);
  --clr-red-700: hsl(0, 49%, 27%);
  --clr-red-800: hsl(0, 49%, 19%);
  --clr-red-900: hsl(0, 49%, 12%);

  --clr-yellow-50: hsl(48, 85%, 97%);
  --clr-yellow-100: hsl(48, 85%, 94%);
  --clr-yellow-200: hsl(48, 85%, 87%);
  --clr-yellow-300: hsl(48, 85%, 73%);
  --clr-yellow-400: hsl(48, 85%, 59%);
  --clr-yellow-500: hsl(48, 85%, 45%);
  --clr-yellow-600: hsl(48, 85%, 35%);
  --clr-yellow-700: hsl(48, 85%, 25%);
  --clr-yellow-800: hsl(48, 85%, 17%);
  --clr-yellow-900: hsl(48, 85%, 10%);

  --clr-blue-50: hsl(202, 51%, 97%);
  --clr-blue-100: hsl(202, 51%, 94%);
  --clr-blue-200: hsl(202, 51%, 87%);
  --clr-blue-300: hsl(202, 51%, 73%);
  --clr-blue-400: hsl(202, 51%, 59%);
  --clr-blue-500: hsl(202, 51%, 50%);
  --clr-blue-600: hsl(202, 51%, 40%);
  --clr-blue-700: hsl(202, 51%, 30%);
  --clr-blue-800: hsl(202, 51%, 20%);
  --clr-blue-900: hsl(202, 51%, 12%);
}
