@import './colors.css';
@import './darkmode.css';
@import './screen-sizes.css';
@import './typography.css';
@import './theme.css';

:root {
  --border-radius: 0.2rem;
}

body {
  line-height: 1;
  font-family: var(--font-body);

  color: var(--clr-text-primary);
  background-color: var(--clr-bg-primary);
}

body > :is(header, footer) {
  /* padding scaled dynamically from 0.5 rem at 480px to 3 rem at 1440px */
  padding-inline: clamp(0.5rem, -0.75rem + 4.167vw, 3rem);
}

.auto-stack {
  --stack-spacing-block: 1.5rem;
  --stack-spacing-inline: 1rem;
  --stack-max-width: var(--screen-xxl);
}

.auto-stack > * {
  width: 100%;
  margin-inline: auto;
  max-width: min(
    calc(100% - 2 * var(--stack-spacing-inline)),
    var(--stack-max-width)
  );
}

.auto-stack > * + * {
  margin-top: var(--stack-spacing-block);
}

.auto-stack > .width-breakout {
  --stack-max-width: 100%;
  --stack-spacing-inline: 0;
  margin-inline: 0;
}

.auto-stack > .width-breakout > * {
  max-width: var(--screen-xxl);
  margin-inline: auto;
}

.auto-stack > .width-md {
  --stack-max-width: var(--screen-lg);
}

.auto-stack > .width-sm {
  --stack-max-width: var(--screen-md);
}

.auto-stack > .space-none {
  --stack-spacing-block: 0;
  --stack-spacing-inline: 0;
}

.auto-stack > .space-sm {
  --stack-spacing-block: 0.5rem;
  --stack-spacing-inline: 0.5rem;
}

.auto-stack > .space-xl {
  --stack-spacing-block: 3rem;
  --stack-spacing-inline: 2rem;
}
