:root {
  --font-header: 'DM Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-body: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;

  /* font-size scaled dynamically from 1rem at 600px to 2rem at 1440px */
  /* font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem); */
  /* font-size scaled dynamically from 1rem at 600px to 1.5rem at 1440px */
  font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: var(--font-header);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
